* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
}

h1,
#filters {
    text-align: center;
}

#filters input,
#filters #fetchButton {
    padding: 8px 16px;
    margin: 10px;
    border: 0;
    font-size: 18px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character-card {
    width: 300px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;

    justify-content: center;
    text-align: center;
}

#name-filter,
#fetchButton {
    width: 30%;
}

.character-card img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    justify-content: center;
    text-align: center;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%; 
    }
}